<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>National Survey / Arolwg Cenedlaethol - Plaid Ifanc</title>
    <link rel="canonical" href="" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="<%= require('./src/assets/favicon.png') %>">
    <link rel="icon" type="image/png" href="<%= require('./src/assets/favicon.big.png') %>" sizes="192x192">
    <link rel="apple-touch-icon" href="<%= require('./src/assets/favicon.big.png') %>">
    <meta name="apple-mobile-web-app-title" content="National Survey">
    <meta name="msapplication-TileColor" content="#41D693">
    <meta name="msapplication-TileImage" content="<%= require('./src/assets/favicon.big.png') %>">
    <meta name="application-name" content="National Survey">
    <meta name="theme-color" content="#41D693" />
    <meta property="fb:app_id" content="180444172483336" />
    <meta property="og:title" content="National Survey / Arolwg Cenedlaethol - Plaid Ifanc" />
    <meta property="og:image" content="/images/thumbnail.png" />
    <meta property="og:site_name" content="National Survey / Arolwg Cenedlaethol - Plaid Ifanc" />
    <meta property="og:locale" content="en_UK" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="twitter:site" content="plaidifanc" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="National Survey - Plaid Ifanc" />
    <meta property="twitter:description" content="" />
    <meta property="twitter:image" content="/images/thumbnail.png" />
    <meta property="twitter:url" content="" />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
