@import 'fonts';

* {
  box-sizing: border-box;
}

body {
  background: $lightest-gray;
  font-family: $default-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $darkest-gray;
  font-size: 16px;
  margin: 0;
}

a {
  color: $secondary-color;
  font-weight: bold;

  &:hover {
    color: $primary-color;
  }
}

p {
  line-height: 1.75;
}

.backgrounds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
}

.background {
  position: fixed;
  top: -36px;
  left: 50%;
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1400px;
  height: 500px;
  opacity: 0.1;
  margin-left: -700px;
}
