.modal {
  max-width: 600px;
  margin: 0 auto;
}

.modal-holder {
  position: fixed;
  z-index: 1000;
  width: 100%;
  left: 0;
  top: 6rem;
}

.backdrop {
  position: fixed;
  z-index: 1000;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
}
