$default-font: 'PlaidIfanc', Helvetica, Arial, sans-serif;
$wrapper-padding: 2rem;
$wrapper-width: 800px;
$primary-color: #16DAC9;
$secondary-color: #63D15F;
$darkest-gray: #2c3e50;
$dark-gray: lighten($darkest-gray, 10%);
$gray: lighten($darkest-gray, 50%);
$lightest-gray: #e1eaef;
$light-gray: darken($lightest-gray, 10%);

$shadow-color: rgba(8, 32, 58, 0.5);
